@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
    body {
        background: #2c3e50;
        font-family: "Roboto", helvetica;
    }
    h1{
        font-size: 5.5em;   
        font-weight: 900;
        color: #fff;
        margin:0;
    }

    h2 {
        font-size:4em;
        font-family: "Roboto", helvetica;
        font-weight: 100;
        margin:0 auto;
        color: #fff;
        width:80%;
        text-align: left;

    }
    h3 {
        font-size:3em;
        font-family: "Roboto", helvetica;
        font-weight: 900;
        margin:0 auto;
        width:100%;
        text-align: center;
        color:#fff;
    }

    #slide9 h3 {
        width:80%;
        text-align: left;
    }
    p {
        font-family: "Roboto", helvetica;
        font-weight: 100;
        font-size: 2.5em;
        color: #fff;
        text-align: left;
        margin:0 auto;
    }
    .intro p{
        color: #fff;
        width:100%;    
    }

    /* Centered texts in each section
    * --------------------------------------- */
    .section{
        text-align:center;
    }


    /* Overwriting styles for the navigation dots (to place it where we want)
    * --------------------------------------- */
    .fp-slidesNav.bottom{
        bottom: 25px;
        color:#fff;
    }

    .workImg {
        width:81%;
        border-radius:10px;
    }

    .workImg:hover {
        opacity:.7;
        -webkit-transition: all .3s ease-in-out;
           -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
             -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
    }

    #section0 {
        background: #EB3349; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-align: left;
        padding-left: 5%;
    }

    #section2 {
        background: #02AAB0; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #02AAB0 , #00CDAC); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #02AAB0 , #00CDAC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
    }

    /*typed.js*/
    .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    }
    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    #typed, .typed-cursor {
        font-size:3.3em;
        font-family: "Roboto", helvetica;
        font-weight: 100;
        margin:0 auto;
        color: #fff;
    }
    strong {
        color:#3349eb;
    }
    /*typed.js*/

    .description {
        background:rgba(0,0,0,0.3);
        margin:2% auto;
        padding: 3%;
        border-radius:10px;
        width:75%;
    }
    .fa {
        color:#EB3349;
        margin-top: 5px 3px 0 3px;
    }
    h3 span {
        color:#EB3349;
    }

    #credit {
        font-family: helvetica;
        position:absolute;
        bottom:25px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;   
        color:white;    
        z-index:1;
        font-size: .4em;
    }

    #credit p {
        text-align: center;
    }

    li {
        margin:2%;
    }
    p a {
        color:#EB3349;
    }

    @media screen and (min-width: 981px){
        .description {
            width:45%;
            padding: 1.5%;
        }
        .description p {
            font-size: 1.8em;
        }
        .workImg {
        width:45%;
        }
        
    }
